<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <div th:replace="~{fragment :: meta}"></div>

        <div th:replace="~{fragment :: styles}"></div>

        <title>パスワード再設定</title>
    </head>
    <body>
        <div class="nagoyameshi-wrapper">
            <div th:replace="~{fragment :: header}"></div>

            <main>
                <div class="container py-4 nagoyameshi-container">
                    <div class="row justify-content-center">
                        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-7">
                            <div class="mb-4 text-center">
                            	<p>ご登録時のメールアドレスを入力してください。<br>パスワード再発行用のメールをお送りします。</p>
                           	</div>

                            <hr class="mb-4">
                            
                            <!-- 成功メッセージ -->
                            <div th:if="${successMessage}" class="alert alert-info">
                            	<span th:text="${successMessage}"></span>
                            </div>
							<!-- エラーメッセージ -->
                            <div th:if="${errorMessage}" class="alert alert-danger">
                                <span th:text="${errorMessage}"></span>
                            </div>
                            
                            <form method="post" th:action="@{/forgotPassword}" th:object="${forgotPasswordForm}" >
                            	<div class="form-group row mb-3">
                            		<div class="col-mb-5">
                            			<div class="d-flex align-items-center">
                            				<label for="email" class="col-form-label text-mb-left fw-bold">
                            					<div class="d-flex align-items-center">
                            						<span class="me-1">メールアドレス</span>
                            					</div>
                            				</label>
                           				</div>
                            		</div>
                            		<div class="col-mb-7">
                            			<div th:if="${#fields.hasErrors('email')}" class="text-danger small mb-2" th:errors="*{email}"></div>
                            			<input type="email" class="form-control" th:field="*{email}" required autocomplete="email" autofocus placeholder="ご登録用のメールアドレス">
                            		</div>
                            	</div>

                                <hr class="my-4">

                                <div class="form-group d-flex justify-content-center mb-4">
                                    <button type="submit" class="btn text-white shadow-sm w-50 nagoyameshi-btn">送信</button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            
            </main>

            <div th:replace="~{fragment :: footer}"></div>
        </div>

        <div th:replace="~{fragment :: scripts}"></div>
  </body>
</html>